<h1>Flop Names</h1>
<h2 *ngIf="gameService.gameOver">{{ winningMessage }}</h2>
<div style="margin-bottom: 30px; margin-top: 30px">
  <button (click)="changeTeam('red')">
    {{ gameService.redTeam.displayName }}
  </button>
  <button (click)="changeTeam('blue')">
    {{ gameService.blueTeam.displayName }}
  </button>
  <br />
  Current Team:
  <span
    [class.bluetext]="gameService.currentTeam === gameService.blueTeam"
    [class.redtext]="gameService.currentTeam === gameService.redTeam"
  >
    {{ gameService.currentTeam.displayName }}</span
  >
</div>

<app-game-grid (teamWon)="displayWinner($event)"></app-game-grid>

<button style="margin-top: 10px" (click)="toggleKey()">Toggle Key</button>

<div class="keygrid" [style.visibility]="handleVisibility()">
  <div class="blue">o</div>
  <div class="neutral"></div>
  <div class="red">o</div>

  <div class="assassin">x</div>
  <div class="blue">o</div>
  <div class="neutral"></div>

  <div class="neutral"></div>
  <div class="neutral"></div>
  <div class="red">o</div>
</div>
